{% extends "admin/change_form.html" %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<script>
(function($) {
    $(document).ready(function() {
        // Add scheme and semester filters to subject selection
        var subjectField = $('#id_subject');
        if (subjectField.length) {
            // Create filter controls that blend with Django admin theme
            var filterContainer = $('<div class="form-row" style="margin-bottom: 10px; padding: 0;"></div>');
            
            var schemeFilter = $('<select id="scheme-filter" class="vTextField" style="margin-right: 10px;"><option value="">All Schemes</option></select>');
            var semesterFilter = $('<select id="semester-filter" class="vTextField" style="margin-right: 10px;"><option value="">All Semesters</option></select>');
            
            filterContainer.append('<label style="margin-right: 10px; font-weight: normal;">Filter Subjects:</label>');
            filterContainer.append('<label style="margin-right: 5px;">Scheme:</label>').append(schemeFilter);
            filterContainer.append('<label style="margin-right: 5px;">Semester:</label>').append(semesterFilter);
            filterContainer.append('<button type="button" id="clear-filters" class="default" style="margin-left: 10px;">Clear</button>');
            
            // Insert filter above subject field
            subjectField.closest('.form-row').before(filterContainer);
            
            // Store original options
            var originalOptions = subjectField.html();
            
            // Extract unique schemes and semesters
            var schemes = new Set();
            var semesters = new Set();
            
            subjectField.find('option').each(function() {
                var text = $(this).text();
                var match = text.match(/\((.*?)\s+Sem(\d+)\)/);
                if (match) {
                    schemes.add(match[1]);
                    semesters.add(match[2]);
                }
            });
            
            // Populate filter dropdowns
            Array.from(schemes).sort().forEach(function(scheme) {
                schemeFilter.append('<option value="' + scheme + '">' + scheme + '</option>');
            });
            
            Array.from(semesters).sort((a, b) => parseInt(a) - parseInt(b)).forEach(function(sem) {
                semesterFilter.append('<option value="' + sem + '">Semester ' + sem + '</option>');
            });
            
            // Filter function
            function filterSubjects() {
                var selectedScheme = schemeFilter.val();
                var selectedSemester = semesterFilter.val();
                
                subjectField.html(originalOptions);
                
                if (selectedScheme || selectedSemester) {
                    subjectField.find('option').each(function() {
                        var text = $(this).text();
                        var match = text.match(/\((.*?)\s+Sem(\d+)\)/);
                        
                        if (match) {
                            var scheme = match[1];
                            var semester = match[2];
                            
                            var showOption = true;
                            if (selectedScheme && scheme !== selectedScheme) showOption = false;
                            if (selectedSemester && semester !== selectedSemester) showOption = false;
                            
                            if (!showOption && $(this).val()) {
                                $(this).remove();
                            }
                        }
                    });
                }
            }
            
            // Bind filter events
            schemeFilter.on('change', filterSubjects);
            semesterFilter.on('change', filterSubjects);
            
            // Clear filters button
            $('#clear-filters').on('click', function() {
                schemeFilter.val('');
                semesterFilter.val('');
                subjectField.html(originalOptions);
            });
        }
    });
})(django.jQuery);
</script>
{% endblock %}
